!!!
%html
  %head
    %title Find Subdomains
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            %li
              = link_to "Subdomains", subdomains_path
        %h3.text-muted Find Subdomains
      = yield